﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="InstancePage.aspx.cs" Inherits="InstancePage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript">
        function closeWindow() {
            window.opener.document.getElementById('btnUpdate').click();
            window.top.close();
        }
    </script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:Label id="lblTest" Text="" runat="server" />
    </div>
    </form>
</body>
</html>
